.container {
  /* styles here */
  border: 1px solid white;
}
.image {
  /* styles here */
  max-width: 80%;
  margin: 0 auto;
}
.image img {
  /* styles here */
  width: 100%;
}
.content {
  /* styles here */
}
.bold {
  font: bold;
}